// Globale Definition for HTML-Tag

//@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

// or :root {}
html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.04em;

  @include media(m) {
    font-size: 18px;
  }
  @include media(l) {
    font-size: 22px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
