
// 14er Column-Grid
.grid-14 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 4.8%;

  @include media(m) {
    grid-template-columns: repeat(14, 1fr);
    grid-column-gap: 2.5%;

  }

  
}

.teaser-test {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.grid-8{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 4.8%;

  @include media(m) {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 4.8%;

  }

}

.grid-8-2{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 4.8%;

  @include media(m) {
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 4.8%;

  }

  // visualisierung der Columns
  
}

.grid-kolumne{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 4.8%;

  @include media(m) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4.8%;

  }

 
}

// Visualisierung der Columns
div[class^="column-"],
div[class^="card-"] {
  @include debug() {
    background-color: rgba(255, 255, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 0.8);
    min-height: 3rem;
  }
}

.Teaser{
  grid-column: span 8;
  margin-top: 60px;
  background-color: white;


  @include media (m) {
    grid-column: span 6;
    height:100%;
  }
}

.Teaser123 {
  grid-column: span 8;

  @include media (m) {
    grid-column: span 10;
    // margin-top: 13rem;

  }
}

.Test-box{
  grid-column: span 8;

  @include media (m) {
  grid-column: span 10;
  }
}

.Kolumne-Box{
  grid-column: span 8;

  @include media (m) {
  grid-column: span 4;
  margin-top: 3rem;
  }
}

.Titelbild{
  grid-column: span 8;
  margin-left: -5.309734513%;
  margin-right:  -5.309734513%;
  margin-top: 5.8rem;

  @include media (m) {
    grid-column: span 10;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12.9rem;
  }
}

// .Titelbild:hover .Bildhover {
//   opacity: 1;
//   background-blend-mode: multiply;

// }

// .Bildhover{
//   position:relative;
//   top: -100px;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   height:100%;
//   opacity: 0;
//   transition: .5s ease;
//   background-color: #F25022;
//   background-blend-mode: multiply;
// }


.Linie {
  grid-column: span 7;
  margin-left: -20px;

  @include media (m){
    grid-column: span 6;
    margin-left: 0px;

  }
}

.Linie-Hauptteaser {
  grid-column: span 7;
  margin-left: -20px;

  @include media (m){
    grid-column: span 10;
    margin-left: 0px;

  }
}
.liken {
  padding-top: 10px;
  grid-column: span 1;
  align-self: flex-end;

  @include media (m){
    display: none;
  }
}

.like-desktop {
  display: none;

  @include media (m){
  display: block;
  display: flex;
  grid-column: span 1;
  margin-right: 15px;
  align-items: center;
  // width:20px;
  }
}

.Kommentar {
  grid-column: span 1;
  z-index: 1;
  align-self: flex-end;

  @include media (m){
    display: none;
  } 
}

.Kommentar-desktop {
  display: none;

  @include media (m){
    display: block;
    display: flex;
    margin-right: 15px;
    // grid-column: span 1;
    align-items: center;
  }  
}
.Kommentar-Oben {
  grid-column: span 1;
  z-index: 1;
  align-self: top;
  margin-top: 1rem;

  @include media (m){
    display: none;
  }
}

.Rubrik-grid {
  grid-column: span 7;
  align-self: flex-end;

  @include media (m) {
    grid-column: span 6;
    align-self: flex-end;
  }

}

.HL-Hauptteaser {
  grid-column: span 7;

  @include media (m) {
    grid-column: span 8;

  }
  
}

.GS-Hauptteaser{
  grid-column: span 7;
  @include media (m) {
    grid-column: span 8;

  }
}

.aktualitaet {
  grid-column: span 7;

  @include media (m) {
    grid-column: span 6;
    display:flex;
    align-items: center;

  }
}

.zentrieren{
  align-items: center;

}

.Bild-Teaser {
  grid-column: span 6;
  margin-left: -5.309734513%;

  @include media (m) {
      grid-column: span 6;
      margin-left: 0;

  }
}

.HL-Teaser {
  grid-column: span 7;

  @include media (m) {
      grid-column: span 6;

    }
}


.HL-Teaser-kolumne {
  grid-column: span 7;

  @include media(m){
    grid-column: span 4;

  }
}

.GS-Teaser{
  grid-column: span 6;


  @include media (m) {
    grid-column: span 6;

  }
}

.GS-Teaser-kolumne{
  grid-column: span 6;

  @include media(m){
    grid-column: span 4;

  }
}

.leer{
  grid-column: span 1;

  @include media (m) {
  display:none;
}
}

.leer-2{
  display:none;
  
  @include media (m) {
    display: block;
    grid-column: span 1;
  }
}

.Werbung-mobile {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include media (m){
    display:none;

  }
}

.Werbung-quer { 
  display:none;

  @include media (m){
    display:block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;

  }
}

.Werbung-hoch {
  display:none;

  @include media (m){
    display:block;
    width: 20vw;
    margin-top: 10.5rem;
  }
    
}

//Footer
.informiert {
  grid-column-start: 1;
  grid-column-end: span 8;

  @include media (m) {
    grid-column-start: 9;
    grid-column-end: span 5;

  }
}

.spalte-1 {
  grid-column: span 3;
  @include media (m) {
    margin-top: -11rem;
  }
}
.spalte-2 {
  grid-column: span 4;

  @include media (m) {
    margin-top: -11rem;
  }
}

.SOME {
  grid-column-start: 1;
  grid-column-end: span 8;
  display: flex;
  // align-items: center;
  margin-bottom: 1.5em;

  @include media (m) {
    grid-column-start: 10;
    grid-column-end: span 4;
    padding-left: 5.2rem;
    justify-content: flex-end;
  }
}





.column-12 {
  grid-column: span 8;
}

.column-1 {
  grid-column: span 8;
  @include media(m) {
    grid-column: span 1;
  }
}

.column-2 {
  grid-column: span 8;
  @include media(m) {
    grid-column: span 2;
  }
}

.column-3 {
  grid-column: span 8;
  @include media(m) {
    grid-column: span 3;
  }
}

.column-4 {
  grid-column: span 8;
  @include media(m) {
    grid-column: span 4;
  }
}

.column-5to12 {
  grid-column-start: 2;
  grid-column-end: span 6;
  @include media(m) {
    grid-column-start: 5;
    grid-column-end: span 8;
  }
}

// 12er × 12er Grid
.grid-12-6 {
  grid-auto-flow: dense;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.5rem;
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 0.5rem;
  height: 20rem;
}

.card-2-4 {
  grid-column: span 2;
  grid-row: span 4;
  background-color: grey;
}

.card-4-2 {
  grid-column: span 4;
  grid-row: span 2;
  background-color: grey;
}