// Link Handling

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.Uhr {
  height: 14px;
  width: auto;
  float: left;
}

.SoMe-Button {
  width: 40px;
  padding: 5px;

  @include media (m) {
    width: 60px;
  padding: 10px;

  }
}

.Person-weiss{
  height: 34px;
  width: 34px;
}



.wetter-icon{
  height: 40px;
}

.wetter-pfeil{
  height:12px;
  margin-left: 2.5rem;
  margin-top: 0.3rem;
  

}