// Link Handling

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.Uhr {
  height: 14px;
  width: auto;
  float: left;
}

.SoMe-Button {
  width: 40px;
  padding: 5px;
}

.Person-weiss{
  height: 34px;
  width: 34px;
}

.Weiss-22{
  color: white;
  font-family: Piazzolla;
  font-weight: 600;
  font-size: 22px;
}

.ort-weiss{
  color: white;
  font-family: Piazzolla;
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.06em;

}