// Paragraph Handling

p {
  margin-top: 0;
  margin-bottom: 1.5rem;

  @include media (m) {
    margin-bottom: 3rem;

  }
}


.rubrik{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #838383;

  margin-top: 1.2rem;
  margin-bottom: 0.3rem;

  @include media (m) {
    font-size: 16px;

  }
}

.rubrik-kolumne {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #F25022;

  margin-top: 1.2rem;
  margin-bottom: 0.3rem;

  @include media (m) {
    font-size: 16px;

  }
}

.Zeitangabe {
  font-family: Source Sans Pro;
  font-style: italic;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #838383;
  float: left;
  padding-left: 5px;
  margin-bottom: 0;

  @include media (m) {
    font-size: 16px;
    align-items: flex-end;

  }
}

.Mengen {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0;

  @include media (m){
    font-size: 16px;
    margin-left: 5px;

  }

}

.GS-Footer {
  font-weight: bold;
  color: white;
  letter-spacing: 0.06em;
  line-height: 220%;
}

.Datum{
  display: none;
  @include media(m) {
    display: block;
  font-family: Source Sans Pro;
  font-weight: 500;
  color: #F25022;
  text-align: center;
  font-size: 13px;
  margin-left: -2.5rem;
  margin-top: -1.15rem;
  }
}

.Temp{
  display: none;
  @include media(m) {
    display: block;
    font-family: 'Piazzolla', serif;
    font-weight: 800;
    font-size: 25px;
    text-align: right;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.Temp2{
  display: none;
  @include media(m) {
    display: block;
    font-family: 'Piazzolla', serif;
    font-weight: normal;
    font-size: 15px;
    text-align: right;
    margin-top: 0.3rem;
    margin-bottom: 0;
    
  }
}

span {
  color: white;
  @include media(m) {
    color: black;
  }
}


.Weiss-22{
  color: white;
  font-family: Piazzolla;
  font-weight: 600;
  font-size: 22px;
  padding-top: 2.5rem;
  padding-left: 1rem;

  @include media (m){
    display:none;
  }
}

.ort-weiss{
  color: white;
  font-family: Piazzolla;
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.06em;
  margin-top: -4.5rem;

}

.ort-weiss-desktop{
  color: white;
  font-family: Piazzolla;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.06em;
  margin: 0;

}

.temp-weiss-desktop {
  display: none;
  @include media(m) {
    display: block;
    font-family: 'Piazzolla', serif;
    font-weight: normal;
    font-size: 15px;
    text-align: right;
    color: white;
    margin-top:-2rem;
    
  }
}